@font-face{
    font-family: "LeagueScript";
    src: url(./fonts/LeagueScript-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.scss";

main{
    .comment{
        font-size: 0.8rem;
    }

}




